@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');
footer{
	padding: 100px 0 10px 0;
}
footer h2{
    font-size: 35px;
    text-transform: capitalize;
    color: #172a3d;
    font-weight: 900;
    margin-bottom: 5rem;
    font-family: 'Roboto',sans-serif;
}
footer  .contact{
	width: 75%;
}
footer  .contact .form-control{
	background: transparent;
    border: none;
    border-bottom: 2px solid #172a3d;
font-family: 'Roboto',sans-serif;
    height: calc(1.5em + .75rem + 15px);
        font-size: 22px;
    letter-spacing: 5px;
}
.form-control::placeholder {
  color: #172a3d;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #172a3d;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: #172a3d;
}
footer  .contact .form-control:focus,footer  .contact .form-control:active{
	 border: none !important;
    border-bottom: 2px solid #172a3d !important;

}
footer  .contact .form-group:focus,footer  .contact .form-group:active{
	 border: none;
}
footer  .contact .form-control:hover,footer .contact textarea:hover{
	padding-bottom: 15px;
	transition: .2s ease-in;
}
footer  .contact .form-group  textarea:focus,
footer  .contact .form-group  input[type="text"]:focus,
footer  .contact .form-group  input[type="password"]:focus,,
footer  .contact .form-group  input[type="email"]:focus{   
 border: none !important;
    border-bottom: 2px solid #172a3d !important;
}
footer  .contact .form-group .form-control:focus {

  border: none !important;
   border-bottom: 2px solid #172a3d !important; 
}
footer  .contact .form-group .btn-light{
	background: transparent;
    border-radius: 7px;
    width: 40%;
    padding: 10px 0;
    font-size: 30px;
    margin: 25px auto;
    color: #172a3d;
    border:2px solid #172a3d;
    font-family: 'Roboto',sans-serif;
}
footer  .contact .form-group .btn-light:hover,.icons ul li:hover{
	background-color: #172a3d !important;
	color: #138B93 !important;
	transition: .2s ease-in-out;
}
.icons ul li:hover a{
	color: #138B93 !important;
}


.icons{
	text-align: center;;
}
.icons ul{
/*display:inline-table;*/
 justify-content: center;
  display: flex;
}
.icons ul li{
	width: 50px;
	height: 50px;
	border-radius: 4px;
	color: #172a3d;
	background: transparent;
/*	display:inline;*/
	margin-right: 15px;
	text-align: center;
	border:2px solid #172a3d;
}
.icons ul li a{
	text-decoration: none;
    line-height: 4;
    color: #172a3d;
}
@media only screen and (max-width:590px) {
	footer .contact{
		width: 90%;
	}
	footer .contact .form-group .btn-light{
		width: 70%;
	}
}
